/* Fonts */

@font-face {
  font-family: 'Monty';
  src: url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
       url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Seaside';
  src: url('../assets/fonts/SEASRN.woff') format('woff'),
       url('../assets/fonts/SEASRN.ttf') format('truetype');
}

body {
  font-family: 'Monty';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Seaside';
}
