
$retroBlue: rgb(103, 169, 168);
$retroYellow: rgb(252,238,193);

/* Fonts */

@font-face { 
    font-family: 'Monty'; 
    src: url('assets/fonts/Montserrat-Regular.woff') format('woff'), 
         url('assets/fonts/Montserrat-Regular.ttf') format('truetype'); 
}


@font-face { 
    font-family: 'Seaside'; 
    src: url('assets/fonts/SEASRN.woff') format('woff'), 
         url('assets/fonts/SEASRN.ttf') format('truetype'); 
}

body {
    font-family: 'Monty';  
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Seaside';   
}

/* CSS Animations  */
@-webkit-keyframes backAndForth {
    from {background-position:left;}
    to {background-position:right;}
}

@keyframes backAndForth {
    from {background-position:left;}
    to {background-position:right;}
}

body {
    background: $retroBlue;

    /*
background: url('../Media/Cloudy5.png') no-repeat center left, 
            url('../Media/Cloudy4.png') no-repeat center left, 
            url('../Media/Cloudy3.png') no-repeat center left, 
            url('../Media/Cloudy2.png') no-repeat center left, 
            url('../Media/Cloudy1.png') no-repeat center left,
            dodgerblue;
 -webkit-animation: backAndForth 45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation: backAndForth 30s;
 animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
background-attachment:fixed;
*/
}

#navigation {
    text-align: center; 
    margin-top: 2vh;
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8),
        -1px -1px 2px black,
        -1px 1px 2px black,
        1px -1px 2px black,
        0 1px #808d93,
        1px 0 #cdd2d5,
        1px 2px #808d93,
        2px 1px #cdd2d5,
        2px 3px #808d93,
        3px 2px #cdd2d5,
        3px 4px #808d93,
        4px 3px #cdd2d5,
        4px 5px #808d93,
        5px 4px #cdd2d5,
        5px 6px #808d93,
        6px 5px #cdd2d5,
        6px 7px #808d93;       
}

        #navigation ul li {
            display: inline-block;
            padding-left: 2vw;
        }
        
            #navigation ul li a {
                // font-family: Verdana;                
                text-decoration: none;
                color: $retroYellow;                
            }

.retroButton {
    border: 0.1em solid $retroBlue;
    font: 18px 'Monty', Verdana, Sans-Serif;
}