<div class="mrCon75 mrPad5 marMar5">
	<h2 class="mrH1 mrRoddy mrMart2 mrMarb2 mrsRetroYellow">Error #{{log.Id}}</h2>
	<div class="mr1 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel">
		<div class="mrPad5 mrMar5">
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Time:</label>&nbsp;<span>{{log.Time | date : 'dd/MM yyyy HH:mm'}}</span><br/>
      </div>
      <div *ngIf="log?.Name" class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Name:</label>&nbsp;<span>{{log.Name | json}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Message:</label>&nbsp;<span>{{log.Message}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Status:</label>&nbsp; <span>{{log.Status}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Url:</label>&nbsp; <span>{{log.Url}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>WebBrowser:</label>&nbsp; <span>{{log.WebBrowser}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Culture:</label>&nbsp; <span>{{log.Culture}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>CookiesEnabled:</label>&nbsp; <span>{{log.CookiesEnabled}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>MaxTouchPoints:</label>&nbsp; <span>{{log.MaxTouchPoints}}</span><br/>
      </div>
      <div class="mr2 mrTxtC mrPadt2 mrPadb2">
        <label>Platform:</label>&nbsp; <span>{{log.Platform}}</span><br/>
      </div>
    </div>
	</div>
</div>
