<nav id="navigation" class="mrH3 mrBounceInDown mrRetroBlue mrZ1000">
  <ul>
    <li class="mrShrink">
      <a routerLink="/" routerLinkActive="active">Overview</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Person" routerLinkActive="active">Persons</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Planning" routerLinkActive="active">Plans</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Food" routerLinkActive="active">Diet</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Activities" routerLinkActive="active">Activities</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/ErrorLog" routerLinkActive="active">Logs</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
