<nav id="navigation" class="mrH3 mrBounceInDown">
  <ul>
    <li class="mrShrink">
      <a routerLink="/" routerLinkActive="active">Overblik</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Planning" routerLinkActive="active">Planl&aelig;gning</a>
    </li>			
    <li class="mrShrink">
      <a routerLink="/Food" routerLinkActive="active">Kost</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/Activities" routerLinkActive="active">Aktiviteter</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>