
<div class="mrCon75 mrPad5 marMar5">
    <h2 class="mrH1 mrsSnow mrRoddy mrMart2 mrMarb2">Hello</h2>
    <div class="mr1 mrShadow mrWhite mrMart2 mrMarb2 mrEnamel">
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>Gender:</label>Male<br/>
            <label>Age:</label>38 years<br/>
        </div>
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>Height:</label> 182 cm<br/>
            <label>Weight:</label> 70 kg<br/>
        </div>
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>BMI:</label>323<br/>
            <label>BMR:</label>323 kCal<br/>
        </div>
    </div>	
</div>
