
<div class="mrCon75 mrPad5 marMar5">
    <h2 class="mrH1 mrsSnow mrRoddy mrMart2 mrMarb2">{{person.Name}}</h2>
    <div class="mr1 mrShadow mrWhite mrMart2 mrMarb2 mrEnamel">
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>Gender:</label>{{person.Gender === true ? 'Kvinde' : 'Mand'}}<br/>
            <label>Age:</label>{{person.DateOfBirth | age}} years<br/>
        </div>
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>Height:</label> {{person.Height}} cm<br/>
            <label>Weight:</label> {{person.Weight}} kg<br/>
        </div>
        <div class="mr3 mrTxtC mrPadt2 mrPadb2">
            <label>BMI:</label> {{person.Weight | bmi : person.Height }}<br/>
            <label>BMR:</label> {{person.DateOfBirth | bmr : person.Gender : person.Weight : person.Height }} kCal<br/>
        </div>
    </div>	
</div>
