
<div class="mrCon75 mrPad5 marMar5">
    <div class="mr1">
        <input class="mrEnamel bigBox" type="string" (blur)="update(person)" [(ngModel)]="person.Name" />
    </div>
    <div class="mr1 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel" style="line-height: 1.5;">
        <div class="mr4 mrTxtC mrPadt2 mrPadb2">
            <label>Gender:</label>
            <select class="mrEnamel" (change)="updateGender($event.target.value)" [(ngModel)]="person.Gender">
                <option value="true">Female</option>
                <option value="false">Male</option>
            </select>
            <br/>
            <label>Date Of Birth:</label><input class="mrEnamel" type="date" (blur)="update(person)" [(ngModel)]="person.DateOfBirth" /><br/>
            <label>Age:</label>{{person.DateOfBirth | age}} years<br/>
        </div>
        <div class="mr2 mrTxtC mrPadt2 mrPadb2">
            <label>Height:</label> <input class="mrEnamel" type="text" (blur)="update(person)" [(ngModel)]="person.Height" /> cm<br/>
            <label>Weight:</label> <input class="mrEnamel" type="text" (blur)="update(person)" [(ngModel)]="person.Weight" /> kg<br/>
            <label>Stride Length:</label> <input class="mrEnamel" type="text" (blur)="update(person)" [(ngModel)]="person.StrideLength" /> cm<br/>
        </div>
        <div class="mr4 mrTxtC mrPadt2 mrPadb2">
            <label>BMI:</label> {{person.Weight | bmi : person.Height }}<br/>
            <label>BMR:</label> {{person.DateOfBirth | bmr : getGender() : person.Weight : person.Height }} kCal<br/>
        </div>
    </div>
    <div class="mr2 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel" style="line-height: 1.5;">
      <h2 class="mrTxtC">Consumption: <span *ngIf="person?.Consumption.length > 0">{{getTotalConsumption() | number}}&nbsp;KCal</span></h2>
      <app-basic-table [dataSource]="person.Consumption" (rowClick)="deleteFood($event)" editable="false"></app-basic-table>
      <div class="mr1 mrTxtC">
        <input class="mrEnamel" placeholder="Insert Food" type="text" [(ngModel)]="foodSearch" (ngModelChange)="handleFoodSearch()" /><br/>
        <ng-container *ngIf="foodToInsert">
          <input class="mrEnamel" placeholder="Amount (grams)" type="text" [(ngModel)]="foodToInsertAmount" />
        </ng-container>
        <ng-container *ngIf="foodToInsert && foodToInsertAmount">
          <br/>
          <button class="mrsRetroYellow mrRetroBlue mrEnamel mrPointer mrRight mrMarb1 mrMarr1 retroButton" (click)="addFood()">Add Food</button>
        </ng-container>
      </div>
    </div>
    <div class="mr2 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel" style="line-height: 1.5;">
      <h2 class="mrTxtC">Activities: <span *ngIf="person?.Activities.length > 0">{{getTotalActivities() | number}}&nbsp;KCal</span></h2>
      <app-basic-table [dataSource]="person.Activities" (rowClick)="deleteActivity($event)" editable="false"></app-basic-table>
      <div class="mr1 mrTxtC">
        <input class="mrEnamel" placeholder="Insert Food" type="text" [(ngModel)]="actSearch" (ngModelChange)="handleActivitySearch()" /><br/>
        <ng-container *ngIf="actToInsert">
          <input class="mrEnamel" placeholder="Amount (grams)" type="text" [(ngModel)]="actToInsertAmount" />
        </ng-container>
        <ng-container *ngIf="actToInsert && actToInsertAmount">
          <br/>
          <button class="mrsRetroYellow mrRetroBlue mrEnamel mrPointer mrRight mrMarb1 mrMarr1 retroButton" (click)="addActivity()">Add Acticity</button>
        </ng-container>
      </div>
    </div>
    <div class="mr1 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel" style="line-height: 1.5; overflow-x: auto;">
      <div class="mrPad2">
        <h2>BMI Curve (14 days):</h2>
        <svg id="bmiGraph"></svg>
      </div>
    </div>

</div>

<!--
<div class="mrCon75 mrPad5 marMar5">
	<h2 class="mrH1 mrRoddy mrMart2 mrMarb2 mrsRetroYellow">Persons</h2>
	<div class="mr1 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel">
		<div class="mrPad5 mrMar5">
			<app-basic-table [dataSource]="dataSource" editable="false" (rowClick)="update($event)"></app-basic-table>
			<button class="mrsRetroYellow mrRetroBlue mrEnamel mrPointer mrRight mrMarb1 mrMarr1 retroButton" (click)="addPerson()">Add Person</button>
		</div>
	</div>
</div>
-->
<!--
<svg id="bmiGraph"></svg>
-->


