<div class="mrCon75 mrPad5 marMar5">
	<h2 class="mrH1 mrRoddy mrMart2 mrMarb2 mrsRetroYellow">Mr. Health Manager</h2>
	<div class="mr1 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel">
		<div class="mrPad5 mrMar5">
      <app-logo class="mrRight"></app-logo>
      <h2>Welcome to Mr. Health Manager</h2>
      <p>The number one calory guide bandit. If you don't need calory management stay a while and have fun with Captain Canvas.</p>
		</div>
  </div>
  <div class="mr2 mrShadow mrRetroYellow mrMart2 mrMarb2 mrEnamel drawBox">
		<div class="mrPad5 mrMar5">
      <div id="tls"></div>
		</div>
  </div>
  <div class="mr2 mrShadow mrEnamel ">
		<div class="mrPad5 mrMar5 mrR drawBox">
      <canvas id="cpt"></canvas>
		</div>
  </div>
</div>
