<div class="mrCon75">
	<h2 class="mrH1 mrsSnow mrRoddy mrMart2 mrMarb2">Hello</h2>
	<div class="mr1 mrShadow mrWhite mrMart2 mrMarb2">
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>Gender:</label>Male<br/>
    		<label>Age:</label>38 years<br/>
    	</div>
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>Height:</label> 182 cm<br/>
    		<label>Weight:</label> 70 kg<br/>
    	</div>
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>BMI:</label>323<br/>
    		<label>BMR:</label>323 kCal<br/>
    	</div>
	</div>
	<div class="mr1 mrShadow mrWhite mrMart2 mrMarb2">
		<app-basic-table [dataSource]="dataSource" [editable]="true"></app-basic-table>
	</div>
</div>
<!--
<div class="mrCon75">
    <h2 class="mrH1 mrsSnow mrRoddy mrMart2 mrMarb2"><i class="fa fa-user" aria-hidden="true"></i> {{personStats.Name}}</h2>
    <div class="mr1 mrShadow mrWhite mrMart2 mrMarb2">
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>Gender:</label>{{personStats.Gender == true ? 'Female' : 'Male'}}<br/>
    		<label>Age:</label>{{personStats.DateOfBirth | ageFilter}} years<br/>
    	</div>
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>Height:</label> {{personStats.Height}} cm<br/>
    		<label>Weight:</label> {{personStats.Weight}} kg<br/>
    	</div>
    	<div class="mr3 mrTxtC mrPadt2 mrPadb2">
    		<label>BMI:</label>{{personStats.BMI}}<br/>
    		<label>BMR:</label>{{personStats.BMR}} kCal<br/>
    	</div>
    </div>
    <div class="mr1">
        <div class="mr2 mrOrange">f</div>
        <div class="mr2 mrPurple">f</div>
    </div>
    <div class="mr1">
        <div class="mr2 mrMart2 mrMarb2">
            <div id="BMI_Box" class="mrOfsXScrl">
                <h3 class="mrH3 mrWhite ">BMI-Udvikling</h3>           
              <svg id="BMI_Graph" class="mr100PW mrWhite"></svg>
               
            </div>
        </div>
    </div>
</div>
-- Planning
<div class="mrCon90 mrMart2">
	<div class="mr1">
		<div class="mrEnamel mrWhite mrPad4 mrMar2">
			<h2 class="mrH3 seaSide">Persondata</h2>
			<label>
				Navn: 
			</label>
			<input type="text" ng-model="testPerson.Name" ng-init="testPerson.Name = personStats.Name" />
			<br/>
			<label>
				Alder: 
			</label>
			<input type="number" ng-model="testPerson.Age" ng-init="testPerson.Age = (personStats.DateOfBirth | ageFilter)" />
			<br/>
			<label ng-init="testPerson.Gender = (personStats.Gender == true).toString()">
				K&oslash;n: 
			</label>
				<input type="radio" ng-model="testPerson.Gender" value="true">Kvinde
				<input type="radio" ng-model="testPerson.Gender" value="false">Mand
			<br/>
			<label>
				H&oslash;jde: 
			</label>
			<input type="number" ng-model="testPerson.Height" ng-init="testPerson.Height = personStats.Height" />
			<br/>
			<label>
				V&aelig;gt: 
			</label>
			<input type="number" ng-model="testPerson.Weight" ng-init="testPerson.Weight = personStats.Weight" />
			<br/>
			<label>BMI:</label>&nbsp;{{testPerson.Weight | BMIFilter : testPerson.Height }}<br/>
    		<label>BMR:</label>&nbsp;{{thisBMR = (testPerson.Age | BMRFilter : testPerson.Gender : testPerson.Weight : testPerson.Height)}} kCal<br/>
			<label>Totalt Indtag:</label>&nbsp;{{TotalConsumed = getTotal(FoodList,'Total')}} kCal<br/>
			<label>Total Forbr&aelig;nding:</label>&nbsp;{{TotalBurned = thisBMR}} kCal<br/>
			<label>I alt:</label>&nbsp;{{TotalConsumed - TotalBurned}} kCal
		</div>
	</div>
	<div class="mr2">
		<div class="mrEnamel mrWhite mrPad4 mrMar2">
					<h2 class="mrH3 seaSide">Indtag</h2>
	<input type="text" ng-model="searchFood" />
	<input type="number" ng-model="selectedQuantity"/>
	<select ng-model="selectedFoodType" ng-options="f.Type for f in foodTypes | orderBy : 'Type'">
		<option value=""></option>
	</select>
	<select ng-model="selectedFood" ng-options="f.Name for f in food | filter : { TypeId : selectedFoodType.Id } | filter : searchFood | orderBy : 'Name'"></select>
	<button ng-click="FoodList.push({'Quantity' : selectedQuantity, 'Name' : selectedFood.Name, 'kCal' : selectedFood.Calories })">Add</button>
	<table class="mr100PW" ng-init="FoodList = []">
		<thead>
			<tr>
				<th class="mrTxtC mr25PW">Kvantitet (g)</th>
				<th class="mrTxtC mr25PW">Type</th>
				<th class="mrTxtC mr25PW">kCal</th>
				<th class="mr25PW"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in FoodList">
				<td class="mrTxtC"><input type="number" ng-model="s.Quantity"/></td>
				<td class="mrTxtC" ng-bind="s.Name"></td>
				<td class="mrTxtC" ng-bind="s.Total = (s.kCal * s.Quantity).toFixed(2)"></td>
				<td><button ng-click="FoodList.splice($index, 1)">Fjern</button></td>
			</tr>
		</tbody>
	</table>
		</div>

	</div>
	<div class="mr2">
		<div class="mrEnamel mrWhite mrPad4 mrMar2">
					<h2 class="mrH3 seaSide">Forbr&aelig;nding</h2>
		<input type="number" ng-model="selectedTime"/>
		<input type="number" ng-model="selectedSpeed"/>
	<select ng-model="selectedActivity" ng-options="a.Name for a in activities | orderBy : 'Name'">
		<option value=""></option>
	</select>
		<button ng-click="ActivityList.push({'Time' : selectedTime, 'Speed' : (selectedActivity.UseKmH === true ? selectedSpeed : 1), 'Name' : selectedActivity.Name, 'kCal' : selectedActivity.kCal, 'UseKmH' : selectedActivity.UseKmH })">Add</button>
		<table class="mr100PW" ng-init="ActivityList = []">
		<thead>
			<tr>
				<th class="mrTxtC mr20PW"><mrsort lbl="Tid (m)" srt="Time" ord="activityOrder" drt="activityDirection"></mrsort></th>
				<th class="mrTxtC mr20PW"><mrsort lbl="km/t" srt="Speed" ord="activityOrder" drt="activityDirection"></mrsort></th>
				<th class="mrTxtC mr20PW"><mrsort lbl="Type" srt="Name" ord="activityOrder" drt="activityDirection"></mrsort></th>
				<th class="mrTxtC mr20PW"><mrsort lbl="kCal" srt="Total" ord="activityOrder" drt="activityDirection"></mrsort></th>
				<th class="mr20PW"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in ActivityList | orderBy : activityOrder : activityDirection">
				<td class="mrTxtC"><input type="number" ng-model="a.Time"/></td>
				<td class="mrTxtC"><input ng-show="a.UseKmH" type="number" ng-model="a.Speed"/></td>
				<td class="mrTxtC" ng-bind="a.Name"></td>
				<td class="mrTxtC" ng-bind="a.Total = (a.kCal * a.Time * a.Speed).toFixed(2)"></td>
				<td><button ng-click="ActivityList.splice($index, 1)">Fjern</button></td>
			</tr>
		</tbody>
	</table>
		</div>
	</div>
</div>
-- Diet
<div class="mrCon75 mrWhite mrPad2 mrMart2 mrEnamel">
	<div class="">
	<input type="text" ng-model="searchFood" />
	<input type="number" ng-model="selectedQuantity"/>
	<select ng-model="selectedFoodType" ng-options="f.Type for f in foodTypes">
		<option value=""></option>
	</select>
	<select ng-model="selectedFood" ng-options="f.Name for f in food | filter : { TypeId : selectedFoodType.Id } | filter : searchFood"></select>
	<button ng-click="FoodList.push({'Quantity' : selectedQuantity, 'Name' : selectedFood.Name, 'kCal' : selectedFood.Calories })">Add</button>
	<table class="mr100PW" ng-init="FoodList = []">
		<thead>
			<tr>
				<th class="mrTxtC mr25PW">Kvantitet (g)</th>
				<th class="mrTxtC mr25PW">Type</th>
				<th class="mrTxtC mr25PW">kCal</th>
				<th class="mr25PW"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="s in FoodList">
				<td class="mrTxtC"><input type="number" ng-model="s.Quantity"/></td>
				<td class="mrTxtC" ng-bind="s.Name"></td>
				<td class="mrTxtC" ng-bind="(s.kCal * s.Quantity).toFixed(2)"></td>
				<td><button ng-click="FoodList.splice($index, 1)">Fjern</button></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
-->



